<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CumulusAndroid.CumulusAndroid" android:versionName="0.0.1" android:installLocation="auto" android:versionCode="1">
	<uses-sdk />
	<application android:label="CumulusAndroid"></application>
</manifest>